{{> templates/partials/header }}

<body>
{{> templates/partials/nav-bar }}

<div class="container">
    <h2>All users in the system</h2>
    <table id="users" class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>AppDirect's UUID</th>
            <th>OpenId Url</th>
            <th>Account Id</th>
        </tr>
        </thead>
        <tbody>
        {{#users}}
            <tr>
                <th scope=row>{{id}}</th>
                <td>{{fullName}}</td>
                <td>{{email}}</td>
                <td>{{uuid}}</td>
                <td>{{openIdUrl}}</td>
                <td>
                    {{#if account}}
                        {{account.id}}
                    {{else}}
                        <span class="label label-warning">N/A</span>
                    {{/if}}
                </td>
            </tr>
        {{/users}}
        </tbody>
    </table>

    <hr>

    <footer>
        <p>&copy; 2016 Gabriel's Pub, not a real company</p>
    </footer>
</div>

</body>
</html>
